<link rel="stylesheet" href="/css/style.css">
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<a id="btnPatient" href="/patients/create"><button type="submit" class="btn btn-default">Add Patient</button></a>
<h1 id="patientList">Patient List</h1>

<section class="unvaccinated">
    <h2>Not Vaccinated:</h2>

    <ul>
        {{#each patient}}
        {{#unless vaccinated}}
        {{> patients/patient-block vaccinated=false}}
        {{/unless}}
        {{/each}}
    </ul>
</section>

<section class="vaccinated">
    <h2>Vaccinated</h2>

    <ul>
        {{#each patient}}
        {{#if vaccinated}}
        {{> patients/patient-block vaccinated=true}}
        {{/if}}
        {{/each}}
    </ul>
</section>